.header{
  width:100%;
  text-align:center;
  background: white;
  height: 12vh;
}

img {
  display:inline-block;
  margin: 0 auto;
  width: 11%;
  padding: 10px;
}


.body {
    background: white;
    width: 100%;
    height: 100%;
    border: solid 1px lightgrey;
    border-radius: 4.5px;
    padding: 24px;
}

body{
  background-color:  #fafafa !important;
}

.margin {
    flex: none;
    max-width: 400px;
    margin: auto;
    background: lightgrey;
}

.margin-top {
    margin-bottom: 0px;
    margin-top: 80px;
    position: relative;
}

.contact-btn.row {
    display: flex;
    flex-flow: column wrap;
    width: 92%;
    margin: 0px;
}

button.SL {
    border: none;
    border-bottom: 2px solid black;
    width: 49%;
    background-color: white;
    padding-bottom: 12px;
}

.center-text {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

button.contact-btn {
    width: 80%;
    border-radius: 4px;
    margin-left: 54px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

button.contact-btn {
    width: 108%;
    border-radius: 4px;
    margin-left: 0;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

form {width: 100%;margin: 1px;}

.form-group.row a {
    color: black;
    border-bottom: solid 2px black;
}

.form-group.row a:hover {
    text-decoration: none;
}

.col-md-5 {
    border-bottom: 1px solid lightgray;
}

.center-text.col-md-2 {
    padding: 0;
    color: lightgray;
}

.col-md-5 {
    margin: 5px 0 10px 0;
}

.input-row {
    margin-top: 10px;
    width: 100%;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: -2px;
    border: solid 1px lightgray;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-left: -2px;
    border: solid 1px lightgray;
}

a.forgot-pass {
    color: black;
    background: white;
    margin-left: 73%;
    font-size: 12px;
}

a.forgot-pass:hover {
    color: black;
    text-decoration: none;
}

button.btn.btn-secondary.btn-lg {
    width: 100%;
    margin-top: 30px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

p {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    font-size: 12px;
    color: #a7a7a7;
    font-weight: bold;
}

a {
    color: black !important;
    text-decoration: none !important;
}

a:hover{
  color: black;
  text-decoration: none;
}

.form-group {
    display: flex;
}

input[type="submit"] {
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
}

.input-row p {
    font-size: 10px;
    color: black;
}

input[type="checkbox"] {
    margin: 5px;
}

input[type="checkbox"]:checked + lable:after {
    background: black;
}

input.signup {
    border-bottom-color: lightgrey;
    color: lightgray;
}

@media only screen and (max-width: 1400px) {
  img{
    width: 12%;
  }
  .header{
    width:100%;
    text-align:center;
    background: white;
    height: 12vh;
  }
}

@media only screen and (max-width: 848px) {
  img{
    width: 22%;
  }
  .header{
    width:100%;
    text-align:center;
    background: white;
    height: 12vh;
  }
}

@media only screen and (max-width: 767px) {
  img{
    width: 20%;
  }
  .header{
    width:100%;
    text-align:center;
    background: white;
    height: 13vh;
  }
  .margin {
    flex: none;
    background: lightgrey;
    max-width: none;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  img{
    width: 35%;
  }
  .header{
    width:100%;
    text-align:center;
    background: white;
    height: 13vh;
  }
}
