#logo{
  font-family: 'Calligraffitti', cursive;
}
.info {
    background: url(images/bg1.jpg);
    background-size: cover;
}
.row img {
    width: 100%;
}
.col-md-6 p {
    font-size: 30px;
}

.info.text-white img {
    border-radius: 50px 10px;
}
