body{
  background: black !important;
}
#logo{
  font-family: 'Calligraffitti', cursive;
  transition: font-size 300ms;
}


a#logo:hover {
    font-size: 25px;
}

#demo .carousel-inner img {
    width: 100%;
    height: 106vh;
    object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.text{
  color: white;
}

a.text:hover {
    text-decoration: none;
    color: #9d9d9d;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}
.swiper-slide img{
  height: 100vh;
}
span.swiper-pagination-bullet {
    background: white;
}
hr{
  background-color: white;
  width: 75%;
}
.pre a i {
    font-size: 45px;
}
p {
    font-weight: lighter;
}

.col-md-4 img {
  filter: brightness(0.5);
}

.col-md-4 img:hover {
    filter: none;
}
iframe{
  border: none;
}
